<%= form_for @student do |f| %>
    <div class="middle-row">
        <div class="row inner-row form" align="center">
            <div class="col-md-12">
			

                <h5 class="card_headline">
                    <%= f.label :first_name %>

                </h5>
                <div>
                    <%= f.text_field :f_name %>
                </div>
                <br>

                <h5 class="card_headline">
                    <%= f.label :last_Name %>
                </h5>
                <br>
                <div>
                    <%= f.text_field :l_name %>
                </div>
                <h5 class="card_headline">
                    <%= f.label :Date_of_birth %>
                </h5>
                <br>
                <div>
                    <%= f.date_field :age %>
                </div>
                <br>
                <h5 class="card_headline">
                    <%= f.label :Last_grade_completed%>
                </h5>
                <br>
                <div>
                    <%= f.number_field :highes_grade%>
                </div>
                <br>
                <div>
                 <%= f.file_field :pic %>
                 </div>
                 
                <h5 class="card_headline">
                    Courses:
                    <%=f.label :current_cohorts%>
                </h5 class="card_headline">


                <%= f.submit %>

                    <h5 class="card_headline">
                        Add
                        <%=@student.f_name%>
                            <%=@student.l_name %> To Class
                    </h5>
                    <%= f.hidden_field :student_id, value: params[:student_id] %>
            </div>
        </div>
    </div>

    <% end %>