<H1> <%=@student.f_name%> <%=@student.l_name%></h1>
<div>
    Birth Year: <%=@student.age%>
</div> 
<div>
    Final Completed Grade Level:
        <%=@student.highes_grade%>
</div>

<div>
    Added to LawndaleNet: <%=@student.created_at%>
</div>
<div>Current Classes:
<ul>
 <% @cohort.each do |thisClass| %>
    
        <li>
            Class Name: <%=thisClass.name%>
        </li>
        <li>
            Class ID: <%=thisClass.id%>
        </li>
         <li>
            
            <% thisClass.instructors.where('cohort_id = ?', thisClass.id).each do |instructor| %>
            Instructor: <%=instructor.l_name%>
           
            <%end%>
         </li>
          <br>
         </br>
        
        <%end%>
    </ul>
</div>

<%= link_to 'Home', students_path()  %>
<%= link_to 'edit', edit_student_path(@student)%>

