<div class="container view card_headline">
 
    <div class="row inner-row" align="center">
   
        <div class="col-md-8 card_headline view">
        <br>
            <h1>
                <%=@student.f_name%>
                    <%=@student.l_name%>
            </h1>
            </div>
            <div class ='col-md-4 student_pic view' align ="left" style="background-image: url(<%= url_for(@student.pic) if @student.pic.attached? %>)">
    </div>
    </div>
            <br>
           <h3>
                Birth Year:
                <%=@student.age%>
           </h3>
           <br>
           <h3>
                Final Completed Grade Level:
                <%=@student.highes_grade%>
           </h3>
           <br>

           <h3>
                Added to LawndaleNet:
                <%=@student.created_at%>
           </h3>
           <br>
            <div>
            <H3>
            Current Classes:
            </H3>
            
                <ul>
                    <% @cohort.each do |thisClass| %>

                        <li>
                            <h4>
                            Class Name:
                            <%=thisClass.name%>

                            </h4>
                        </li>
                        <li>
                            <h4>
                            Class ID:
                            <%=thisClass.id%>
                            </h4>
                        </li>
                        <li>
                            <h4>

                            <% thisClass.instructors.where('cohort_id = ?', thisClass.id).each do |instructor| %>
                                Instructor:
                                <%=instructor.l_name%>

                                    <%end%>
                                    </h4>
                        </li>
                    </ul>
                    </div>
                        <br>
                        </br>
                    
                    

                        <%end%>
                
            </div>
              <div class="border-top">
                <h4>
            <%= link_to 'Home', students_path()  %>
                <%= link_to 'edit', edit_student_path(@student)%>
                </h4>
                </div>

        </div>
    </div>
</div>