<%= form_for [@instructor] do |f| %>
    <div class="middle-row">
        <div class="row inner-row form" align="center">

            <div class="col-md-12">
               
                <h5 class="card_headline">
                    <%= f.label :First_Name %>
                </h5>
                <div>
                    <%= f.text_field :f_name %>
                </div>

                <h5 class="card_headline">
                    <%= f.label :Last_Name %>
                </h5>
                <div>
                    <%= f.text_field :l_name%>
                </div>

                <h5 class="card_headline">

                    <%= f.label :Date_of_birth %>
                </h5>
                <div>
                    <%= f.date_field :age %>

                </div>
                <h5 class="card_headline">
                    <%= f.label :salary %>
                </h5>
                <div>
                    <%= f.number_field :salary%>

                </div>
                <h5 class="card_headline">
                    <%= f.label :Education_credentials%>
                </h5>
                <div>
                    <%= f.text_field :education %>

                </div>
                <h5 class="card_headline">
                </h5>
                    <%= f.submit %>
                    <br>
            </div>

            <% end %>