<div class="container view">
    <div class="row inner-row" align="center">
        <div class="col-md-12  card_headline">
        <br>
            
            <H1 class="card_headline">
                <%=@instructor.f_name%>
                    <%=@instructor.l_name%>
            </h1>
            <br>
            <br>
            <h3 class="card_headline">
                Birth Year:
                <%=@instructor.age%>
            </h3>
             <br>
            <h3 class="card_headline">
                Education Credentials:
                <%=@instructor.education%>
            </h3>
             <br>
            <h3 class="card_headline">
                Salary:
                <%=@instructor.salary%>
            </h3>
             <br>
            <h3 class="card_headline">
                Added to LawndaleNet:
                <%=@instructor.created_at%>
            </h3>
             <br>
            <div class="border-top">
                <h4>
                    <%= link_to 'Home', instructors_path()  %>
                        <%= link_to 'edit', edit_instructor_path(@instructor)%>
                            <h4>
            </div>

        </div>
    </div>
</div>
