<div class='container'>
    <div class='row big-row justify-content-center'>
        <div class='col-md-12 align'>
            <div class='row middle-row'>
                <div class='col-md-12'>
                    <div class='row inner-row'>
                        <div class='col-md-8 page-header'>
                            <div class='row inner-inner-row'>
                                <div class=" row inner-inner-inner-row">
                                    <div class='col-md-12 page-headline'>
                                        <h2>Welcome to your courses panel. </h2>
                                        <h3>LawndaleWeb currently has the following courses available to students</h3>
                                    </div>
                                    </div>
                                </div>
                                <div class="row inner-inner-inner-row">
                                    <div class='col-md-12 page-controls'>
                                        <h4>
                                            <a href='<%=new_course_path %>'> Add New Course </a>
                                        </h4>
                                        <div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-4 course-image'>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-12 align'>
                <div class='row middle-row'>
                    <div class='col-md-12'>
                        <div class="row bottom-row">
                            <%@courses.each_with_index do |course, index| %>
                                <div class="course col">
                                    <h4 class = 'card_headline'>
                                        Course Name:
                                        <%= course.name %>
                                    </h4>
                                    <div>
                                        
                                            <div>
                                                Credit Hours:
                                                <%=course.hours %>
                                            </div>
                                            <div>
                                                Number of Cohorts for
                                                <%=course.name%>:
                                                    <%=course.cohorts.length%>

                                            </div>
                                            

                                            <% course.cohorts.each do |cohort| %>
                                            <ul>
                                                <div>

                                                    Cohort ID:
                                                    <%= cohort.id %>
                                                </div>
                                                <div>
                                                    Instructor
                                                    <%= cohort.instructors.first && cohort.instructors.first.l_name %>
                                                </div>
                                                </ul>
                                                <% end %>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class ="card_border">
                                            <a href=<%=new_course_cohort_path(course)%>>Create New Cohort for
                                                <%=course.name%>
                                            </a>
                                        </h4>
                                    </div>
                                    <div>
                                        <%= link_to 'View', course_path(course)  %>
                                            <%= link_to 'Edit', edit_course_path(course)%>
                                                <%= link_to 'Delete', course,  class: "deleteCourse"%>
                                    </div>
                                </div>


                                <% if index.even? %>
                                    <div class="w-100"></div>
                                    <%end%>
                                        <%end%>



                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>


    </div>