<H1> <%=@course.name%> </h1>
<div>
    Credit Hours: <%= @course.hours%> 
</div> 
<div>
    Current Cohorts: <% @course.cohorts.each do |cohort|%>
            <div>
                <%=cohort.name%>
            </div>
            <%end%>
            
</div>
<div>
           
    <div>
    Current Instructors:  <% @course.cohorts.each do |cohort|%>
    <%cohort.instructors.each do |instructor|%>
        <div>
                <%=instructor.l_name%>
         </div>
            <%end%>
            <%end%>
</div>
<div>
    Current Students: <% @course.cohorts.each do |cohort|%> 
    <%cohort.students.each do |student|%>
    <div>
        <%=student.l_name%> , <%=student.f_name%>
        <%end%>
        <%end%>
    </div>

</div>

<%= link_to 'Home', courses_path()  %>
<%= link_to 'Edit', edit_course_path(@course)%>

